
//	===============================
//			@Import	Colors
//	===============================


//  Pure Colors

$white: #fff;
$black: #000;


//  PRIMARY

$primary_50: #f5f7fe;
$primary_100: #eceffe;
$primary_200: #cfd7fc;
$primary_300: #b1befa;
$primary_400: #778ef7;
$primary_500: #3d5df3;
$primary_600: #3754db;
$primary_700: #2e46b6;
$primary_800: #253892;
$primary_900: #1e2e77;
$primary_1000: #152143;

//  INFO

$info_50: #f2f9ff;
$info_100: #e6f4ff;
$info_200: #bfe3ff;
$info_300: #99d2ff;
$info_400: #4db0ff;
$info_500: #008eff;
$info_600: #0080e6;
$info_700: #006bbf;
$info_800: #005599;
$info_900: #00467d;
$info_1000: #0b2f52;

//  SUCCESS

$success_50: #f2fbf6;
$success_100: #e6f6ee;
$success_200: #c0e9d4;
$success_300: #99dcbb;
$success_400: #4dc187;
$success_500: #01a754;
$success_600: #01964c;
$success_700: #017d3f;
$success_800: #016432;
$success_900: #005229;
$success_1000: #0c272b;

//  WARNING

$warning_50: #fefaf4;
$warning_100: #fcf5e9;
$warning_200: #f8e5c8;
$warning_300: #f3d6a7;
$warning_400: #eab764;
$warning_500: #e19822;
$warning_600: #cb891f;
$warning_700: #a9721a;
$warning_800: #875b14;
$warning_900: #6e4a11;
$warning_1000: #282625;

//  DANGER

$danger_50: #fdf5f6;
$danger_100: #fbeced;
$danger_200: #f6cfd2;
$danger_300: #f1b3b6;
$danger_400: #e67980;
$danger_500: #db4049;
$danger_600: #c53a42;
$danger_700: #a43037;
$danger_800: #83262c;
$danger_900: #6b1f24;
$danger_1000: #2c1c2b;

//  SECONDARY

$secondary_50: #f9f5fc;
$secondary_100: #f2eafa;
$secondary_200: #dfcbf2;
$secondary_300: #cbacea;
$secondary_400: #a46edb;
$secondary_500: #7d30cb;
$secondary_600: #712bb7;
$secondary_700: #5e2498;
$secondary_800: #4b1d7a;
$secondary_900: #3d1863;
$secondary_1000: #1d1a3b;

//  DARK

$dark_50: #f5f5f5;
$dark_100: #eaeaec;
$dark_200: #cbcbcf;
$dark_300: #abacb2;
$dark_400: #6c6e78;
$dark_500: #2d303e;
$dark_600: #292b38;
$dark_700: #22242f;
$dark_800: #1b1d25;
$dark_900: #16181e;
$dark_1000: #181e2e;


//  Extra Colors

$x_1: #fafafa;
$x_2: #f1f2f3;
$x_3: #ebedf2;
$x_4: #e0e6ed;
$x_5: #bfc9d4;
$x_6: #d3d3d3;
$x_7: #888ea8;
$x_8: #506690;
$x_9: #607d8b;
$x_10: #555555;
$x_11: #515365;
$x_12: #1b2e4b;
$x_13: #191e3a;
$x_14: #0e1726;
$x_15: #060818;
// $x_16: #008eff;
$x_17: #00ab55;
$x_18: #ffbb44;
$x_19: #e95f2b;
$x_20: #f8538d;
$x_21: #445ede;
$x_22: #304aca;
$x_23: #22c7d5;
// $x_24: #7d30cb;






















