// @import '../base/base';

// BACKGROUND COLORS

// ===================
//      Pure Colors
// ===================

.bg-white {
    background-color: var(--white) !important;
}
.bg-black {
    background-color: var(--black) !important;
}
// ===================
//      PRIMARY
// ===================

.bg-primary {
    background-color: var(--primary_500) !important;
}
.bg-primary\:50 {
    background-color: var(--primary_50) !important;
}
.bg-primary\:100 {
    background-color: var(--primary_100) !important;
}
.bg-primary\:200 {
    background-color: var(--primary_200) !important;
}
.bg-primary\:300 {
    background-color: var(--primary_300) !important;
}
.bg-primary\:400 {
    background-color: var(--primary_400) !important;
}
.bg-primary\:500 {
    background-color: var(--primary_500) !important;
}
.bg-primary\:600 {
    background-color: var(--primary_600) !important;
}
.bg-primary\:700 {
    background-color: var(--primary_700) !important;
}
.bg-primary\:800 {
    background-color: var(--primary_800) !important;
}
.bg-primary\:900 {
    background-color: var(--primary_900) !important;
}
.bg-primary\:1000 {
    background-color: var(--primary_1000) !important;
}


// ===================
//      INFO
// ===================

.bg-info {
    background-color: var(--info_500) !important;
}
.bg-info\:50 {
    background-color: var(--info_50) !important;
}
.bg-info\:100 {
    background-color: var(--info_100) !important;
}
.bg-info\:200 {
    background-color: var(--info_200) !important;
}
.bg-info\:300 {
    background-color: var(--info_300) !important;
}
.bg-info\:400 {
    background-color: var(--info_400) !important;
}
.bg-info\:500 {
    background-color: var(--info_500) !important;
}
.bg-info\:600 {
    background-color: var(--info_600) !important;
}
.bg-info\:700 {
    background-color: var(--info_700) !important;
}
.bg-info\:800 {
    background-color: var(--info_800) !important;
}
.bg-info\:900 {
    background-color: var(--info_900) !important;
}
.bg-info\:1000 {
    background-color: var(--info_1000) !important;
}

// ===================
//      SUCCESS
// ===================

.bg-success {
    background-color: var(--success_500) !important;
}
.bg-success\:50 {
    background-color: var(--success_50) !important;
}
.bg-success\:100 {
    background-color: var(--success_100) !important;
}
.bg-success\:200 {
    background-color: var(--success_200) !important;
}
.bg-success\:300 {
    background-color: var(--success_300) !important;
}
.bg-success\:400 {
    background-color: var(--success_400) !important;
}
.bg-success\:500 {
    background-color: var(--success_500) !important;
}
.bg-success\:600 {
    background-color: var(--success_600) !important;
}
.bg-success\:700 {
    background-color: var(--success_700) !important;
}
.bg-success\:800 {
    background-color: var(--success_800) !important;
}
.bg-success\:900 {
    background-color: var(--success_900) !important;
}
.bg-success\:1000 {
    background-color: var(--success_1000) !important;
}

// ===================
//      WARNING
// ===================

.bg-warning {
    background-color: var(--warning_500) !important;
}
.bg-warning\:50 {
    background-color: var(--warning_50) !important;
}
.bg-warning\:100 {
    background-color: var(--warning_100) !important;
}
.bg-warning\:200 {
    background-color: var(--warning_200) !important;
}
.bg-warning\:300 {
    background-color: var(--warning_300) !important;
}
.bg-warning\:400 {
    background-color: var(--warning_400) !important;
}
.bg-warning\:500 {
    background-color: var(--warning_500) !important;
}
.bg-warning\:600 {
    background-color: var(--warning_600) !important;
}
.bg-warning\:700 {
    background-color: var(--warning_700) !important;
}
.bg-warning\:800 {
    background-color: var(--warning_800) !important;
}
.bg-warning\:900 {
    background-color: var(--warning_900) !important;
}
.bg-warning\:1000 {
    background-color: var(--warning_1000) !important;
}

// ===================
//      DANGER
// ===================

.bg-danger {
    background-color: var(--danger_500) !important;
}
.bg-danger\:50 {
    background-color: var(--danger_50) !important;
}
.bg-danger\:100 {
    background-color: var(--danger_100) !important;
}
.bg-danger\:200 {
    background-color: var(--danger_200) !important;
}
.bg-danger\:300 {
    background-color: var(--danger_300) !important;
}
.bg-danger\:400 {
    background-color: var(--danger_400) !important;
}
.bg-danger\:500 {
    background-color: var(--danger_500) !important;
}
.bg-danger\:600 {
    background-color: var(--danger_600) !important;
}
.bg-danger\:700 {
    background-color: var(--danger_700) !important;
}
.bg-danger\:800 {
    background-color: var(--danger_800) !important;
}
.bg-danger\:900 {
    background-color: var(--danger_900) !important;
}
.bg-danger\:1000 {
    background-color: var(--danger_1000) !important;
}

// ===================
//      SECONDARY
// ===================

.bg-secondary {
    background-color: var(--secondary_500) !important;
}
.bg-secondary\:50 {
    background-color: var(--secondary_50) !important;
}
.bg-secondary\:100 {
    background-color: var(--secondary_100) !important;
}
.bg-secondary\:200 {
    background-color: var(--secondary_200) !important;
}
.bg-secondary\:300 {
    background-color: var(--secondary_300) !important;
}
.bg-secondary\:400 {
    background-color: var(--secondary_400) !important;
}
.bg-secondary\:500 {
    background-color: var(--secondary_500) !important;
}
.bg-secondary\:600 {
    background-color: var(--secondary_600) !important;
}
.bg-secondary\:700 {
    background-color: var(--secondary_700) !important;
}
.bg-secondary\:800 {
    background-color: var(--secondary_800) !important;
}
.bg-secondary\:900 {
    background-color: var(--secondary_900) !important;
}
.bg-secondary\:1000 {
    background-color: var(--secondary_1000) !important;
}

// ===================
//      DARK
// ===================

.bg-dark {
    background-color: var(--dark_500) !important;
}
.bg-dark\:50 {
    background-color: var(--dark_50) !important;
}
.bg-dark\:100 {
    background-color: var(--dark_100) !important;
}
.bg-dark\:200 {
    background-color: var(--dark_200) !important;
}
.bg-dark\:300 {
    background-color: var(--dark_300) !important;
}
.bg-dark\:400 {
    background-color: var(--dark_400) !important;
}
.bg-dark\:500 {
    background-color: var(--dark_500) !important;
}
.bg-dark\:600 {
    background-color: var(--dark_600) !important;
}
.bg-dark\:700 {
    background-color: var(--dark_700) !important;
}
.bg-dark\:800 {
    background-color: var(--dark_800) !important;
}
.bg-dark\:900 {
    background-color: var(--dark_900) !important;
}
.bg-dark\:1000 {
    background-color: var(--dark_1000) !important;
}


// // ===================
// //      Extra Colors
// // ===================

// .bg-x\:1 {
//     background-color: var(--x_1) !important;
// }
// .bg-x\:2 {
//     background-color: var(--x_2) !important;
// }
// .bg-x\:3 {
//     background-color: var(--x_3) !important;
// }
// .bg-x\:4 {
//     background-color: var(--x_4) !important;
// }
// .bg-x\:5 {
//     background-color: var(--x_5) !important;
// }
// .bg-x\:6 {
//     background-color: var(--x_6) !important;
// }
// .bg-x\:7 {
//     background-color: var(--x_7) !important;
// }
// .bg-x\:8 {
//     background-color: var(--x_8) !important;
// }
// .bg-x\:9 {
//     background-color: var(--x_9) !important;
// }
// .bg-x\:10 {
//     background-color: var(--x_10) !important;
// }
// .bg-x\:11 {
//     background-color: var(--x_11) !important;
// }

// .bg-x\:12 {
//     background-color: var(--x_12) !important;
// }
// .bg-x\:13 {
//     background-color: var(--x_13) !important;
// }
// .bg-x\:14 {
//     background-color: var(--x_14) !important;
// }
// .bg-x\:15 {
//     background-color: var(--x_15) !important;
// }
// .bg-x\:16 {
//     background-color: var(--info_500) !important;
// }
// .bg-x\:17 {
//     background-color: var(--x_17) !important;
// }
// .bg-x\:18 {
//     background-color: var(--x_18) !important;
// }
// .bg-x\:19 {
//     background-color: var(--x_19) !important;
// }
// .bg-x\:20 {
//     background-color: var(--x_20) !important;
// }
// .bg-x\:21 {
//     background-color: var(--x_21) !important;
// }
// .bg-x\:22 {
//     background-color: var(--x_22) !important;
// }
// .bg-x\:23 {
//     background-color: var(--x_23) !important;
// }
// .bg-x\:24 {
//     background-color: var(--x_24) !important;
// }













:is(.dark) {
    .dark {

        // ===================
        //      Pure Colors
        // ===================

        &\:bg-white {
            background-color: var(--white)
        }

        &\:bg-black {
            background-color: var(--black)
        }
        

        // ===================
        //      PRIMARY
        // ===================
        
        &\:bg-primary {
            background-color: var(--primary_500) !important;
        }
        &\:bg-primary\:50 {
            background-color: var(--primary_50) !important;
        }
        &\:bg-primary\:100 {
            background-color: var(--primary_100) !important;
        }
        &\:bg-primary\:200 {
            background-color: var(--primary_200) !important;
        }
        &\:bg-primary\:300 {
            background-color: var(--primary_300) !important;
        }
        &\:bg-primary\:400 {
            background-color: var(--primary_400) !important;
        }
        &\:bg-primary\:500 {
            background-color: var(--primary_500) !important;
        }
        &\:bg-primary\:600 {
            background-color: var(--primary_600) !important;
        }
        &\:bg-primary\:700 {
            background-color: var(--primary_700) !important;
        }
        &\:bg-primary\:800 {
            background-color: var(--primary_800) !important;
        }
        &\:bg-primary\:900 {
            background-color: var(--primary_900) !important;
        }
        &\:bg-primary\:1000 {
            background-color: var(--primary_1000) !important;
        }
        
        
        // ===================
        //      INFO
        // ===================

        &\:bg-info {
            background-color: var(--info_500) !important;
        }
        &\:bg-info\:50 {
            background-color: var(--info_50) !important;
        }
        &\:bg-info\:100 {
            background-color: var(--info_100) !important;
        }
        &\:bg-info\:200 {
            background-color: var(--info_200) !important;
        }
        &\:bg-info\:300 {
            background-color: var(--info_300) !important;
        }
        &\:bg-info\:400 {
            background-color: var(--info_400) !important;
        }
        &\:bg-info\:500 {
            background-color: var(--info_500) !important;
        }
        &\:bg-info\:600 {
            background-color: var(--info_600) !important;
        }
        &\:bg-info\:700 {
            background-color: var(--info_700) !important;
        }
        &\:bg-info\:800 {
            background-color: var(--info_800) !important;
        }
        &\:bg-info\:900 {
            background-color: var(--info_900) !important;
        }
        &\:bg-info\:1000 {
            background-color: var(--info_1000) !important;
        }

        // ===================
        //      SUCCESS
        // ===================

        &\:bg-success {
            background-color: var(--success_500) !important;
        }
        &\:bg-success\:50 {
            background-color: var(--success_50) !important;
        }
        &\:bg-success\:100 {
            background-color: var(--success_100) !important;
        }
        &\:bg-success\:200 {
            background-color: var(--success_200) !important;
        }
        &\:bg-success\:300 {
            background-color: var(--success_300) !important;
        }
        &\:bg-success\:400 {
            background-color: var(--success_400) !important;
        }
        &\:bg-success\:500 {
            background-color: var(--success_500) !important;
        }
        &\:bg-success\:600 {
            background-color: var(--success_600) !important;
        }
        &\:bg-success\:700 {
            background-color: var(--success_700) !important;
        }
        &\:bg-success\:800 {
            background-color: var(--success_800) !important;
        }
        &\:bg-success\:900 {
            background-color: var(--success_900) !important;
        }
        &\:bg-success\:1000 {
            background-color: var(--success_1000) !important;
        }

        // ===================
        //      WARNING
        // ===================

        &\:bg-warning {
            background-color: var(--warning_500) !important;
        }
        &\:bg-warning\:50 {
            background-color: var(--warning_50) !important;
        }
        &\:bg-warning\:100 {
            background-color: var(--warning_100) !important;
        }
        &\:bg-warning\:200 {
            background-color: var(--warning_200) !important;
        }
        &\:bg-warning\:300 {
            background-color: var(--warning_300) !important;
        }
        &\:bg-warning\:400 {
            background-color: var(--warning_400) !important;
        }
        &\:bg-warning\:500 {
            background-color: var(--warning_500) !important;
        }
        &\:bg-warning\:600 {
            background-color: var(--warning_600) !important;
        }
        &\:bg-warning\:700 {
            background-color: var(--warning_700) !important;
        }
        &\:bg-warning\:800 {
            background-color: var(--warning_800) !important;
        }
        &\:bg-warning\:900 {
            background-color: var(--warning_900) !important;
        }
        &\:bg-warning\:1000 {
            background-color: var(--warning_1000) !important;
        }

        // ===================
        //      DANGER
        // ===================

        &\:bg-danger {
            background-color: var(--danger_500) !important;
        }
        &\:bg-danger\:50 {
            background-color: var(--danger_50) !important;
        }
        &\:bg-danger\:100 {
            background-color: var(--danger_100) !important;
        }
        &\:bg-danger\:200 {
            background-color: var(--danger_200) !important;
        }
        &\:bg-danger\:300 {
            background-color: var(--danger_300) !important;
        }
        &\:bg-danger\:400 {
            background-color: var(--danger_400) !important;
        }
        &\:bg-danger\:500 {
            background-color: var(--danger_500) !important;
        }
        &\:bg-danger\:600 {
            background-color: var(--danger_600) !important;
        }
        &\:bg-danger\:700 {
            background-color: var(--danger_700) !important;
        }
        &\:bg-danger\:800 {
            background-color: var(--danger_800) !important;
        }
        &\:bg-danger\:900 {
            background-color: var(--danger_900) !important;
        }
        &\:bg-danger\:1000 {
            background-color: var(--danger_1000) !important;
        }

        // ===================
        //      SECONDARY
        // ===================

        &\:bg-secondary {
            background-color: var(--secondary_500) !important;
        }
        &\:bg-secondary\:50 {
            background-color: var(--secondary_50) !important;
        }
        &\:bg-secondary\:100 {
            background-color: var(--secondary_100) !important;
        }
        &\:bg-secondary\:200 {
            background-color: var(--secondary_200) !important;
        }
        &\:bg-secondary\:300 {
            background-color: var(--secondary_300) !important;
        }
        &\:bg-secondary\:400 {
            background-color: var(--secondary_400) !important;
        }
        &\:bg-secondary\:500 {
            background-color: var(--secondary_500) !important;
        }
        &\:bg-secondary\:600 {
            background-color: var(--secondary_600) !important;
        }
        &\:bg-secondary\:700 {
            background-color: var(--secondary_700) !important;
        }
        &\:bg-secondary\:800 {
            background-color: var(--secondary_800) !important;
        }
        &\:bg-secondary\:900 {
            background-color: var(--secondary_900) !important;
        }
        &\:bg-secondary\:1000 {
            background-color: var(--secondary_1000) !important;
        }

        // ===================
        //      DARK
        // ===================

        &\:bg-dark {
            background-color: var(--dark_500) !important;
        }
        &\:bg-dark\:50 {
            background-color: var(--dark_50) !important;
        }
        &\:bg-dark\:100 {
            background-color: var(--dark_100) !important;
        }
        &\:bg-dark\:200 {
            background-color: var(--dark_200) !important;
        }
        &\:bg-dark\:300 {
            background-color: var(--dark_300) !important;
        }
        &\:bg-dark\:400 {
            background-color: var(--dark_400) !important;
        }
        &\:bg-dark\:500 {
            background-color: var(--dark_500) !important;
        }
        &\:bg-dark\:600 {
            background-color: var(--dark_600) !important;
        }
        &\:bg-dark\:700 {
            background-color: var(--dark_700) !important;
        }
        &\:bg-dark\:800 {
            background-color: var(--dark_800) !important;
        }
        &\:bg-dark\:900 {
            background-color: var(--dark_900) !important;
        }
        &\:bg-dark\:1000 {
            background-color: var(--dark_1000) !important;
        }

    }
}
