@import '../../../base/base';
div#load_screen {
  // background: rgb(236, 239, 255);
  background: var(--white);
  opacity: 1;
  position: fixed;
  z-index: 999999;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


// @keyframes l7-1 {
// 	0%,100% {
// 		background-position: 0 -50px,100% -50px;
// 	}
// 	17.5% {
// 		background-position: 0 100%,100% -50px,0 -50px,100% -50px;
// 	}
// 	35% {
// 		background-position: 0 100%,100% 100% ,0 -50px,100% -50px;
// 	}
// 	52.5% {
// 		background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px;
// 	}
// 	70%,98% {
// 		background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px);
// 	}
// }
// @keyframes l7-2 {
// 	0%,70% {
// 		transform: translate(0);
// 	}
// 	100% {
// 		transform: translate(200%);
// 	}
// }
// .loader {
// 	width: 90px;
// 	height: 14px;
// 	box-shadow: 0 3px 0 var(--dark_600);
// 	position: relative;
// 	clip-path: inset(-40px 0 -5px);
// 	&:before {
// 		content: "";
// 		position: absolute;
// 		inset: auto calc(50% - 17px) 0;
// 		height: 50px;
// 		--g: no-repeat linear-gradient(var(--primary_800) 0 0);
// 		background: var(--g),var(--g),var(--g),var(--g);
// 		background-size: 16px 14px;
// 		animation: l7-1 2s infinite linear, l7-2 2s infinite linear;
// 	}
// }





@keyframes l25 {
	33% {
		inset: -8px;
		transform: rotate(0deg);
	}
	66% {
		inset: -8px;
		transform: rotate(180deg);
	}
	100% {
		inset: 0;
		transform: rotate(180deg);
	}
}
.loader {
	width: 40px;
	aspect-ratio: 1;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: 50%;
		--c: #0000, var(--dark_500) 1deg 120deg,#0000 121deg;
		background: conic-gradient(from 0deg, var(--c)) top right, conic-gradient(from 120deg,var(--c)) bottom, conic-gradient(from 240deg,var(--c)) top left;
		background-size: 40px 40px;
		background-repeat: no-repeat;
		animation: l25 2s infinite cubic-bezier(0.3,1,0,1);
	}
}
