@import '../../../base/base';

/* 

--------------Auth Sign In Cover------------

*/

/* 

Sign In

*/

body.dark #auth-cover {
  position: relative;
  height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  margin-top: 74px;

  .auth-cover-bg-image, .auth-overlay {}

  .auth-cover {
    img {}

    h1 {
      font-size: 32px;
      font-weight: 800;
      color: var(--dark_100);
    }

    p {
      font-size: 16px;
      color: #abacb2;
      font-weight: 500;
    }
  }

  .card {
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgb(9 10 11 / 65%) 0px 12px 24px -4px;
    background: #16181e;
    border: none;
  }

  .card-body {
    h2 {
      font-size: 22px;
      font-weight: 800;
      color: var(--dark_100);
    }

    p {
      font-size: 13px;
      color: #abacb2;
      font-weight: 500;
    }

    .pass-reset {
      font-size: 13px;
      margin-bottom: 8px;

      a {
        font-weight: 400;
        color: var(--primary_100);
      }
    }

    .seperator {
      position: relative;

      hr {
        border-top: 1px dashed #cbcbcf;
      }

      .seperator-text {
        text-align: center;
        position: absolute;
        top: -11px;
        width: 100%;
        left: 0;
        right: 0;

        span {
          background: #16181e;
          padding: 4px 8px;
          font-size: 15px;
          color: #fff;
          font-weight: 500;
          border-radius: 25px;
        }
      }
    }

    .btn-social-link {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        background: #292b38;
        z-index: 0;
        border-radius: 48px;
        left: -2px;
        right: -3px;
        opacity: 0;
        margin: 0 auto;
        transition: .4s;
      }

      &:hover:before {
        opacity: 1;
      }

      svg {
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 1;
      }

      &.btn-social-google svg, &.btn-social-github svg, &.btn-social-x svg {
        fill: #cbcbcf;
      }
    }
  }
}

/* body.dark #auth-cover .card-body label {

}

body.dark #auth-cover .card-body input {

} */

@media (max-width: 991px) {
  body.dark {
    &.page-auth-cover .navbar .navbar-nav .nav-item .nav-link {
      padding: 0 14px;
    }

    #auth-cover {
      height: auto;
      padding: 50px 0;
    }
  }
}

@media (max-height: 800px) {
  body.dark #auth-cover {
    height: auto;
    padding: 50px 10px;
  }
}
