@import '../../../base/base';
// body.dark {
    .layout-spacing {
        padding-bottom: 25px;
      }
      
      .widget {
        position: relative;
        padding: 0;
        border-radius: 6px;
        border: 1px solid var(--x_4);
        box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
      }
      
      .apexcharts-xaxis text, .apexcharts-yaxis text {
        fill: var(--dark_500);
      }
      
      .apexcharts-legend-text {
        color: var(--dark_500) !important;
      }
      
      .apexcharts-tooltip.apexcharts-theme-dark {
        background: var(--x_13) !important;
        box-shadow: none;
      
        .apexcharts-tooltip-title {
          background: var(--x_13) !important;
          border-bottom: 1px solid var(--x_13);
        }
      }

// }